
  :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

.recommandation{


  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  body{
    height: 100%;
  }

  .hero-section{
    align-items: flex-start;
    background-color: #2d3548;;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }

  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card{
    list-style: none;
    position: relative;
    background-color: #2d3548;
  }

  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }

  .card__background{
    background-size: cover;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
      filter 200ms linear,
      transform 200ms linear;
  }

  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }

  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }

  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }

  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }

  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

}

.avatar {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.carre-droite{
  width: 50%;
  padding:20px;
  background-image: linear-gradient(rgba(178, 147, 147, 0.3),rgba(178, 147, 147, 0.3)), url("https://images.unsplash.com/photo-1529133396358-0f5f0c4a1c8a?ixlib=rb-1.2.1&ixid=MnwxM[…]G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-size: cover;
  display: flex;
  align-items: center;
}

.carre-gauche {
  display: flex;
  align-items: center;
  width: 50%;
  background: #eddfd1;
  padding:20px;
}

#myChart {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.carre-text {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;

    span {
      font-family: Helvetica, sans-serif;
      font-weight: lighter;
      font-size: 26px;
    }
  }

  h2 {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 80px;
    margin-bottom: 20px;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 80px;
    margin-bottom: 37px;
    max-width: 540px;
    line-height: 140%;
  }
}

.description {
  h3 {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 80px;
    margin-bottom: 20px;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 80px;
    margin-bottom: 10px;
    max-width: 540px;
  }

}

.btn-position {
  position: relative;
  display: flex;
  justify-content: center;
}
