

.panier {
  max-width: 15%;
  position: absolute;
  right: 46px;
  bottom: 124px;
}

.detail {
  background:  #DDA532 ;
  color: white;
}


.producer-description {
max-width: 80%;
background:  #1C1F33;
color: white;
}
