<h1>Recommendation</h1>


<div class="spirit-card-grid">
  <% @recommendations.each do |reco| %>
  <div class="spirit-card">
    <img src="<%=reco.spirit.image_url%>">
    <div class="spirit-card-infos">
      <div class="spirit-card-content">
        <div class="spirit-card-header">
            <%= reco.spirit.name %>
            <p><%= reco.percentages %> %</p>
        </div>
      </div>
    </div>
  </div>
  <%end %>
</div>
