<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/adrih1/deflavour"><i class="fab fa-github"></i></a>
    <a href=""><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-text">
    <a href="https://github.com/adrih1/deflavour">About Us</a>
    <a href="">Contact Us</a>
  </div>
</div>
