<div class="footer">
  <div class="footer-left">
    <div class="footer-left-text">
      <a class="nav-link" href="">A PROPOS</a>
      <a class="nav-link" href="">NOUS CONTACTER</a>
      <a class="nav-link" href="">DEVENIR AMBASSADEUR</a>
      <a class="nav-link" href="">CARTE CADEAU</a>
      <a class="nav-link"  href="">LIVRAISONS / RETOUR / FAQ</a>
    </div>
    <div class="footer-left-socials">
      <a class="nav-link" href="https://github.com/adrih1/deflavour" target="_blank"><i class="fab fa-github"></i></a>
      <a class="nav-link"  href="" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-right">
    <p class="nav-link">Recevez nos actualités</p>
    <div class="email-container">
      <p>Votre adresse email</p>
    </div>


  </div>
</div>
