<div class="navbar navbar-expand-sm navbar-light navbar-deflavour">
  <div class="navbar-content">
    <ul class="navbar-nav me-auto">
      <div class="navbar-left">
        <li class="nav-item active">
          <%=link_to "Spiritueux", spirits_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Producteurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Concept</a>
        </li>
      </div>
      <div class="navbar-center">
      <li class="nav-item active">
        <%=link_to "DeFlavour", root_path, id:"DeFlavour-name" %>
      </li>

      </div>
      <div class="navbar-right">
      <li class="nav-item active">
        <a class="nav-link"  href="#"><i  class="nav-link fa-solid fa-magnifying-glass"></i></a>
      </li>
      <% if current_user %>
      <li class="nav-item active">
        <%=link_to "Déconnexion",  destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link"%>
      </li>
      <% else %>
      <li class="nav-item active">
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Log In</a>
      </li>
      <% end %>
      </div>
    </ul>
  </div>
</div>




<!-- Modal LOG IN -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <div class="form-container">
            <h2>Log in</h2>
            <%= render "shared/login" %>
          </div>
      </div>
    </div>
  </div>
</div>
