<div class="navbar navbar-expand-sm navbar-light navbar-deflavour">
  <div class="navbar-content">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Liquors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Producers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="DeFlavour-name" href="#"><strong>DeFlavour</strong></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">How it works</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</div>
