<%= render "shared/navbar" %>


<h1>Profil Aromatique </h1>


<h2>Synthese</h2>


<h3>Description</h3>

<%= @user.alcool_profil.description  %>




<button class="btn-default">Recommendation</button>

<div id="data" class="invisible">
65, 59, 90, 81, 56, 55, 40
</div>
<div>
  <canvas id="myChart"></canvas>
</div>


