<div class="banner">
  <div class="d-flex justify-content-around">
    <%= render "shared/login" %>
    <%= render "shared/signup" %>

  </div>

  <div class="cover">
    <h1>Connect</h1>
    <form  class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
    </form>

  </div>
</div>
