<%= render "shared/navbar" %>



<div data-controller="chart-bis">

  <div class="d-flex flex-row" data-controller="tabs">
    <ul class="">
      <li >
        <button data-action="click->tabs#aromatique" >Profil Aromatique</button>
      </li>
      <li>
        <button data-action="click->tabs#alcool" >Profil par Alcool</button>
      </li>
      <li >
        <button data-action="click->tabs#bar" >Mon bar</button>
      </li>
    </ul>
    <div >
      <div data-tabs-target="aromatique" >
        <%= render "/shared/profil_aromatique" %>
      </div>
      <div class="hidden-tab" data-tabs-target="alcool"  >
      <%= render "/shared/profil_par_alcool" %>
      </div>
      <div class="d-none" data-tabs-target="bar">
         <%= render "/shared/mon_bar" %>


      </div>
    </div>

  </div>
</div>
