<%= render "shared/navbar" %>


<div data-controller="chart-bis">
  <div class="d-flex flex-row" data-controller="tabs">
    <ul class="list p-4">
      <li class="nav-link" >
        <p data-action="click->tabs#aromatique" >Profil Aromatique</p>
      </li>
      <li class="nav-link">
        <p data-action="click->tabs#alcool" >Profil par Alcool</p>
      </li>
      <li class="nav-link" >
        <p data-action="click->tabs#bar" >Mon bar</p>
      </li>
    </ul>

    <div style = "width:100%;">

      <div data-tabs-target="aromatique" >
        <%= render "/shared/profil_aromatique" %>
      </div>

      <div class="hidden-tab" data-tabs-target="alcool">
        <%= render "/shared/profil_par_alcool" %>
      </div>

      <div class="d-none mon-bar" data-tabs-target="bar">
         <%= render "/shared/mon_bar" %>
      </div>

    </div>

  </div>
</div>
