.banner{
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  margin: 0;
  background: url('https://images.unsplash.com/photo-1534655882117-f9eff36a1574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3135&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
  ::-webkit-input-placeholder {
    color: #56585b;
  }

  ::-moz-placeholder {
    color: #56585b;
  }

  :-moz-placeholder {
    color: #56585b;
  }

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  ul, nav{
    list-style: none;
    padding: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
  }

  a:hover {
    opacity: 1;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 1.5rem;
  }

  a.btn {
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  a.btn:hover {
    background: #005FA3;
    border: 1px solid #005FA3;
    color: #fff;
  }

  .cover  {
    height: 75vh;
    width: 100%;
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .flex-form input[type="submit"] {
    background: #005FA3;
    border: 1px solid #005FA3;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  .flex-form input[type="submit"]:hover {
    background: #005FA3;
    border: 1px solid #005FA3;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }

  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }

  input[type="search"] {
    flex-basis: 500px;
  }

  #madeby {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px 100px;
    color: #fff;
  }

  @media all and (max-width:800px) {
    body {
      font-size: 0.9rem;
    }

    .flex-form {
      width: 100%;
    }

    input[type="search"] {
      flex-basis: 100%;
    }

    .flex-form > * {
      font-size: 0.9rem;
    }

    header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 10px !important;
    }

    header h2 {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 2rem;
    }

    .cover {
      padding: 20px;
    }

    #madeby {
      padding: 30px 20px;
    }
  }

  @media all and (max-width:360px) {
    header nav li{
      margin: 0 10px;
    }

    .flex-form {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
    }

    input[type="search"] {
      flex-basis: 0;
    }

    label {
      display: none;
    }
  }
}
