.btn-default{
  text-align: center;
  padding: 10px 20px;
  background-color: #F87060;
  color: white;
  border-radius: 3px;
  border: none;

  &:hover{
    background-color: gold;
    color: white;
    transition: 0.5s ease;
  }
}

.btn-vivid{
  text-align: center;
  padding: 20px 10px;
  background-color: gold;
  color: white;
  border-radius: 3px;
}

.btn-home{
  text-align: center;
  padding: 10px 20px;
  background-color: #1C1F33;
  color: white;
  border-radius: 3px;
  border: none;

  &:hover{
    background-color: gold;
    color: white;
  }
}
