.btn-default{
  text-align: center;
  padding: 10px 20px;
  background-color: #F0C086;
  color: white;
  border: white;
  border-radius: 3px;
  border: none;

  &:hover{
    background-color: white;
    color: #F0C086;
    border: #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }
}

.btn-default-reviews{
  text-align: center;
  padding: 8px 15px;
  background-color: #f5efea;
  color: black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #f5efea;
  font-size: 16px;

  &:hover{
    background-color: #F0C086;
    color: black;
    transition: 0.5s ease;
    border: 1px solid #F0C086;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }
}

.btn-modal-reviews{
  text-align: center;
  padding: 8px 15px;
  background-color:#eddfd1;;
  color: black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  font-size: 16px;

  position: absolute;
  bottom: -3px;
  right: 63px;


  &:hover{
    background-color: #F0C086;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
  }
}



.btn-default-maindashboard{
  text-align: center;
  padding: 8px 15px;
  background-color: #F0C086;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;

  &:hover{
    background-color: white;
    color: #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }
}



.btn-vivid{
  text-align: center;
  padding: 20px 10px;
  background-color: #F0C086;
  color: white;
  border-radius: 3px;
}

.btn-home{
  width: 20%;
  margin: 0px auto;
  text-align: center;
  padding: 6px 14px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: 1px solid white;


  &:hover{
    transition: 0.5s ease;
    border: 1px solid #F0C086;
    color: #F0C086;
  }
}


.experience-button{
  padding: 5px 15px ;
  margin: 10px 0px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: black;
  color: white;

  &:hover{
    color: #F0C086;
    border: 1px solid #edac5d;
    transition: 0.3s ease;
  }
}



.launch-experience{
  padding: 5px 15px ;
  margin: 10px 0px;
  border-radius: 3px;
  background-color: #F0C086;
  color: black;
  border: 1px solid transparent;

  &:hover{
    cursor: pointer;
    background-color: #edac5d;
    border: 1px solid #F0C086;
  }
}



.experience-button-remove{
  margin-left: 10px !important;
  padding: 5px 15px ;
  margin: 10px 0px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: black;
  color: white;

  &:hover{
    color: #F0C086;
    border: 1px solid #edac5d;
    transition: 0.3s ease;
  }
}

.btn-home-login{
  text-align: center;
  padding: 10px 20px;
  background-color: #F0C086;
  color: white;
  border-radius: 3px;
  border: none;
  margin: 0 auto;

  &:hover{
    transition: 0.4s ease;
    background-color: white;
    color: white;
  }
}


.btn-default-reco{
  text-align: center;
  padding: 10px 20px;
  background-color: #F0C086;
  color: white;
  border-radius: 3px;
  width: 245px;

  &:hover{
    background-color: white;
    color: #F0C086;
    border: 1px solid #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }
}


.btn-dash {
  text-align: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 3px;
  border: 1px solid;
  position: absolute;
  top: -100px;

  &:hover{
    color: #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }
}


.btn-profil {
  text-align: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 3px;
  border: 1px solid;
  margin-top: 15px;
  &:hover{
    color: #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }
}

.btn-profil-bis {
  text-align: center;
  padding: 10px 20px;
  background-color: #EDDED1;
  color: black;
  border-radius: 3px;
  border: 1px solid;
  margin-top: 15px;
  position: absolute;
  bottom: 1px;
  right:35px;
  &:hover{
    color: #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }
}


.btn-blanc-reco {
  text-align: center;
  width: 235px;
  padding: 8px 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 3px;
  border: 1px solid;
  margin-top: 15px;
  position: absolute;
  bottom: -10px;
  right:35px;
  &:hover{
    color: #F0C086;
    transition: 0.5s ease;
    cursor: pointer;
  }

}
