.btn-default{
  text-align: center;
  padding: 10px 20px;
  background-color: #F87060;
  color: white;
  border-radius: 3px;
  border: none;

  &:hover{
    background-color: gold;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
  }
}

.btn-default-reviews{
  text-align: center;
  padding: 8px 15px;
  background-color: #DDA532;
  color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  font-size: 16px;

  &:hover{
    background-color: gold;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
  }
}



.btn-default-maindashboard{
  text-align: center;
  padding: 8px 15px;
  background-color: #F87060;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;

  &:hover{
    background-color: gold;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
  }
}



.btn-vivid{
  text-align: center;
  padding: 20px 10px;
  background-color: gold;
  color: white;
  border-radius: 3px;
}

.btn-home{
  text-align: center;
  padding: 10px 20px;
  background-color: #1C1F33;
  color: white;
  border-radius: 3px;
  border: none;
  margin: 0 auto;

  &:hover{
    background-color: gold;
    color: white;
  }
}


.experience-button{
  padding: 5px 15px ;
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
  background-color: #F87060;
  color: white;

  &:hover{
    color: black;
  }
}



.launch-experience{
  padding: 5px 15px ;
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
  background-color: #1C1F33;
  color: white;

  &:hover{
    color: black;
  }
}



.experience-button-remove{
  padding: 5px 15px ;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  background-color: #F87060;
  color: white;

  &:hover{
    color: black;
  }
}

.btn-home-login{
  text-align: center;
  padding: 10px 20px;
  background-color: #1C1F33;
  color: white;
  border-radius: 3px;
  border: none;
  margin: 0 auto;

  &:hover{
    background-color: gold;
    color: white;
  }
}


.btn-default-reco{
  text-align: center;
  padding: 10px 20px;
  background-color: #F87060;
  color: white;
  border-radius: 3px;
  border: none;
  width: 245px;

  &:hover{
    background-color: gold;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
  }
}
