//SPIRIT CARD
.spirit-card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.spirit-card {

  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  border-radius: 7px;
}

.spirit-card > img {
  width: 100%;
  object-fit: cover;
  border-radius: 7px 7px 0px 0px;
}

.spirit-card-infos{
  height: 170px;
}

.spirit-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  text-align: center;
}

#rating{
  color: gold;
  font-size: 14px;
}

.spirit-card-content{
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  height: 100%;
  align-items: center;
}


.spirit-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
}

.spirit-card p {
  font-size: 12px;
  opacity: .7;
  margin-top: 0;
  margin-bottom: 0;
}

.spirit-card-footer{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

// Spirit card RECOMMENDATIONS

.spirit-card-grid-reco{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  margin-bottom: 50px;
}



.spirit-card-header-reco{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.spirit-card-content-percentage{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

// CARD MAINDASHBOARD

.spirit-card-dash-title {

  height: 64px;
}

.spirit-card-dash {

  background: white;
  width: 90%;
  border-radius: 7px;
}

.spirit-card-header-dash{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.spirit-card-content-dash{
  position: relative;
  display:flex;
  flex-direction: column;
  margin-top: 5px;
}


.spirit-card-grid-dash {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  padding: 20px 0px 40px 20px;
}

.spirit-card-content-reco{
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  height: 100%;
}
