.forms-container{
  display: flex;
  justify-content: space-around;
  margin: 20px 25%;
  background:  linear-gradient(#1c110900, #47271069);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.simple_form{
  padding: 10px 20px;
}


.form-label{
  color: white;
}

abbr {
  color: red;
  text-decoration: none;
}

abbr[title] {
  color: red;
  text-decoration: none;
}

.form-control {
  border-right: none;
  border-bottom: 1px solid white;
  border-top: none;
  border-left: none;
  background: transparent;
  border-radius: 3px;
}
