// FORM CONTAINER
.experiences{
  margin: 30px 25%;
}

// TITLE
.experiences h1{
  font-size: 25px;
}

.nested-form-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.experiences_spirits_spirit{
  margin-bottom: 1px !important;
  width: 100%;
}



.form-select{
  background-color: transparent;
  border: none;
  padding: 0;
}

.ts-control{
  border-radius: 7px;
  width: 100%;
}

#experiences_spirits_spirit-ts-label{
  display: none;
}
