// FORM CONTAINER
.experiences{
  margin: 0px 25%;
}

// TITLE
.experiences h1{
  font-size: 25px;
}



.experiences_spirits_spirit{
  margin-bottom: 1px !important;
}



.form-select{
  background-color: transparent;
  border: none;
  padding: 0;
}

.ts-control{
  border-radius: 7px;

}

// SPIRIT LABEL
.banner .form-label{
  display: none;
}
