.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 100px;
  color: rgba(0,0,0,0.3);
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left-text {
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-left-text a {
  margin-bottom: 3px;
}



.footer-left-socials {
  width: 100%;
  display: flex;
  color: white;
  opacity: 0.5;
  font-size: 20px;
}

.footer-left-socials .nav-link {
  color: white;
  font-size: 30px;
  margin-right: 10px;
}


.footer-right{
  display: flex;
  flex-direction: column;
}



.email-container{
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px 50px 5px 5px;
  background-color: grey;
  border-radius: 5px;
}

.email-container p {
  margin: 0;
}
