// Import your components CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "button";
@import "banner";
@import "card";
@import "devise-forms";
@import "modal";
@import "experience-form";
@import "circle";
@import "slider";
@import "tabs";
@import "carousel-loading-reco";
@import "monbar";

a{
  text-decoration: none;

  &:hover{
    cursor: pointer;
  }
}


a,p,h1,h2,h3{
  font-family: 'Quicksand', sans-serif;
}
